// TITLES
.a-textH1 {
  font-family: var(--font-family-accent);
  font-size: var(--font-size-XXXL);
}

// TEXT
.a-textDefault {
  font-family: var(--font-family-main);
  font-size: var(--font-size-M);
  font-weight: lighter;
  line-height: 24px;
}
